# Source - https://stackoverflow.com/a
# Posted by Mateusz Przybylek
# Retrieved 2025-11-16, License - CC BY-SA 4.0

services:
  mssql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    user: root
    ports:
      - "1433:1433"
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=MyStrongPass123!
    volumes:
      - ./data:/var/opt/mssql/data
      - ./init-mssql:/docker-entrypoint-initdb.d
    networks:
      - keycloak-network
  mssql-init:
    image: mcr.microsoft.com/mssql-tools
    depends_on:
      - mssql
    volumes:
      - ./init-mssql:/init
    entrypoint: >
      /bin/bash -c "
      sleep 20;
      for f in /init/*.sql; do
        if [ -f \"$f\" ]; then
                 echo 'Executando script:' $f;
                 /opt/mssql-tools/bin/sqlcmd -S mssql -U sa -P MyStrongPass123! -i \"$f\";
        fi
      done
      "
    healthcheck:
      test: [
        "CMD",
        "/opt/mssql-tools/bin/sqlcmd",
        "-S", "localhost",
        "-U", "sa",
        "-P", "MyStrongPass123!",
        "-Q", "SELECT 1"
      ]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s
    networks:
      - keycloak-network

      # Keycloak Authentication Server
  keycloak:
    image: quay.io/keycloak/keycloak:latest
    container_name: keycloak
    environment:
      KC_DB: mssql
      KC_DB_URL: jdbc:sqlserver://mssql:1433;databaseName=keycloak;encrypt=true;trustServerCertificate=true;
      KC_DB_USERNAME: sa
      KC_DB_PASSWORD: MyStrongPass123!
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin_password
      KC_HOSTNAME_STRICT: false
      KC_HOSTNAME_STRICT_HTTPS: false
      KC_HTTP_ENABLED: true
      KC_IMPORT: /opt/keycloak/data/import
    volumes:
      - ./keycloak-realm:/opt/keycloak/data/import
    command: ["start-dev", "--import-realm"]
    ports:
      - "8080:8080"
    depends_on:
      mssql-init:
        condition: service_completed_successfully
    networks:
      - keycloak-network


networks:
  keycloak-network:
    name: keycloak-network