# Source - https://stackoverflow.com/a
# Posted by Mateusz Przybylek
# Retrieved 2025-11-16, License - CC BY-SA 4.0

services:
  mssql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    user: root
    ports:
      - "1433:1433"
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=MyStrongPass123!
    volumes:
      - sql_data:/var/opt/mssql
    command: >
      /bin/bash -c "
        /opt/mssql/bin/sqlservr &
        sleep 20 &&
        for f in /docker-entrypoint-initdb.d/*.sql; do
          /opt/mssql-tools/bin/sqlcmd -S localhost -U SA -P $${SA_PASSWORD} -i $$f;
        done
        wait
      "
    networks:
      - keycloak-network
  mssql-init:
    image: mcr.microsoft.com/mssql-tools
    depends_on:
      - mssql
    volumes:
      - ./init-mssql:/init
    entrypoint: >
      /bin/bash -c "
      sleep 20;
      for f in /init/*.sql; do
        if [ -f \"$f\" ]; then
                 echo 'Executando script:' $f;
                 /opt/mssql-tools/bin/sqlcmd -S mssql -U sa -P MyStrongPass123! -i \"$f\";
        fi
      done
      "
    healthcheck:
      test: [
        "CMD",
        "/opt/mssql-tools/bin/sqlcmd",
        "-S", "localhost",
        "-U", "sa",
        "-P", "MyStrongPass123!",
        "-Q", "SELECT 1"
      ]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s
    networks:
      - keycloak-network

      # Keycloak Authentication Server
  keycloak:
    image: quay.io/keycloak/keycloak:latest
    container_name: keycloak
    environment:
      KC_DB: mssql
      KC_HOSTNAME_URL: http://keycloak:8080
      KC_DB_URL: jdbc:sqlserver://mssql:1433;databaseName=model;encrypt=true;trustServerCertificate=true;
      KC_DB_USERNAME: sa
      KC_DB_PASSWORD: MyStrongPass123!
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin_password
      KC_HOSTNAME_STRICT: 'false'
      KC_HOSTNAME_STRICT_HTTPS: 'false'
      KC_HTTP_ENABLED: 'true'
      KC_IMPORT: /opt/keycloak/data/import
    volumes:
      - ./keycloak-realm:/opt/keycloak/data/import
    command: [ "start-dev", "--import-realm" ]
    ports:
      - "8080:8080"
    depends_on:
      mssql-init:
        condition: service_completed_successfully
    networks:
      - keycloak-network

  app:
    image: 'davi/caixa-investimento/product:1.0.0-SNAPSHOT'
    build:
      context: .
      dockerfile: src/main/docker/Dockerfile.jvm
    container_name: app

    environment:
      - QUARKUS_DATASOURCE_URL=jdbc:sqlserver://mssql:1433;databaseName=model;encrypt=false;trustServerCertificate=true
      - QUARKUS_DATASOURCE_USERNAME=sa
      - QUARKUS_DATASOURCE_PASSWORD=MyStrongPass123!
      - QUARKUS_JPA_HIBERNATE_DDL_AUTO=update
      - QUARKUS_SMALLRYE_OPENAPI_OAUTH2_IMPLICIT_TOKEN_URL=http://localhost:8080/realms/quarkus/protocol/openid-connect/token
    ports:
      - '8082:8082'
    depends_on:
      mssql-init:
        condition: service_completed_successfully
      keycloak:
        condition: service_started
    networks:
      - keycloak-network


networks:
  keycloak-network:
    name: keycloak-network

volumes:
  sql_data:
